<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>корзина</title>
    <link rel="stylesheet" href="style/css/style.css">
</head>

<body>
    <div id="app">
<header class="head">
    <div class="head-flex container">
        <div class="head-left">
            <a href="index.html"> <img src="style/img/logo.png" alt="logo"></a>

        </div>
        <div class="head-right">
            <a class="menu-activ" href="javascript:void(0);" tabindex="1"> <img src="style/img/iconmenu.png" alt="меню">
            </a>
            <div class="box">
                <h2 class="menu-name">MENU</h2>
                <div class="item-menu">
                    <h3 class="item-categories"> MAN </h3>
                    <a class="item-link" href="katalog.html">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> WOMAN </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> KIDS </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>
            </div>

            <a class="cabinet" href="cabinet.html"> <img src="style/img/icon.png" alt="Personal Area"></a>
            
            <span class="IconWrap cartIcon">
                <a class="basket" href="cart.html"> <img src="style/img/icon2.png" alt="basket"></a>
                <span>0</span>
            </span>

            <div class="basket hidden">
                <div class="basketRow basketHeader">
                    <div>Фото товара</div>
                    <div>Название товара</div>
                    <div>Количество</div>
                    <div>Цена за шт.</div>
                    <div>Итого</div>
                </div>

                <div class="basketRow"  v-for="Item_header of cartItems_header" :key="Item_header.id">
                    <div>  <img class="cart_pictures"  :src=Item_header.foto alt="Some image">  </div>
                    <div><h3>{{Item.title}}</h3></div>
                    <div> <span class="productCount">{{Item.quantity}}</span> шт. </div>
                    <div>${{Item.price}}</div>
                    <div>
                        $<span class="productTotalRow">0</span>
                    </div>
                </div>  

                <div class="basketTotal">
                    Товаров в корзине на сумму:
                    $<span class="basketTotalValue">0</span>
                </div>
            </div>
        </div>
    </div>
</header>

    <div class="title-page">
        <div class="container">
            <p class="p-title-page">SHOPPING CART</p>
        </div>
    </div>


     <div class="cart flex container" >
       
            <div class="cart-left">
                <div  v-for="Item of cartItems" :key="Item.id">
                    <div class="lot">
                        <img class="img" :src=Item.foto alt="img">
                        <div class="lot-specification">
                            <p class="lot-h">{{Item.title}} <br> T-SHIRT</p>
                            <p class="lot-p">Price: ${{Item.price}} </p>
                            <p class="lot-p">Color: Red</p>
                            <p class="lot-p">Size: Xl </p>
                            <p class="lot-p">Quantity: {{Item.quantity}} </p>
                        </div>
                    </div>
                </div>
       
            <div class="flex">
                <button class="cart-But" type="#">CLEAR SHOPPING CART</button>
                <button class="cart-But" type="#">CONTINUE SHOPPING</button>
            </div>
        </div>

        <div class="cart-right">

            <div class="right-block-top">
                <form class="input-adress" action="#">
                    <p class="rbt-h">SHIPPING ADRESS</p>
                    <input class="input" type="ADRESS" placeholder="Bangladesh"><br>
                    <input class="input" type="ADRESS" placeholder="State"><br>
                    <input class="input" type="ADRESS" placeholder="Postcode / Zip"><br>
                </form>
                <button class="cart-ButRight" type="#">GET A QUOTE</button>
            </div>


            <div class="pay">
                <form action="#">
                    <p class="p-pay">SUB TOTAL ${{carttotal}} </p>
                    <p class="p2-pay"> GRAND TOTAL ${{carttotal}} </p>
                </form>
                <hr>

                <button class="but-pay" type="#">PROCEED TO CHECKOUT</button>
            </div>
        </div>
    </div>
    </div>
</div>


<div class="footer">
    <div class="container footer-head">

        <div class="service-1">
            <img src="./style/img/footer1.png" alt="picture">
            <h4 class="h4-footer-head">Free Delivery</h4>
            <p class="p-footer">Worldwide delivery on&nbsp;all. Authorit tively morph <nobr> <br>
                    next-generation</nobr> innov tion with extensive models.</p>
        </div>

        <div class="service-1">
            <img src="./style/img/footer3.png" alt="picture">
            <h4 class="h4-footer-head">Sales & discounts</h4>
            <p class="p-footer">Worldwide delivery on&nbsp;all. Authorit tively morph <nobr> <br>
                    next-generation</nobr> innov tion with extensive models.</p>
        </div>

        <div class="service-1">
            <img src="./style/img/footer2.png" alt="picture">
            <h4 class="h4-footer-head">Quality assurance</h4>
            <p class="p-footer">Worldwide delivery on&nbsp;all. Authorit tively morph <nobr> <br>
                    next-generation</nobr> innov tion with extensive models.</p>
        </div>

    </div>
    <div class="footer-content">
        <div class="footer-content2">
            <div class="container footer-content3">
                <div class="persona">
                    <img src="./style/img/Intersect.png" alt="">
                    <p class="p-persona">&laquo;Vestibulum quis porttitor dui! Quisque <br>
                        viverra nunc mi, a&nbsp;pulvinar purus <br>
                        condimentum&raquo;</p>
                </div>

                <div class="subscribe">
                    <h4 class="h4-sub">SUBSCRIBE</h4>
                    <p class="p-sub"> FOR OUR NEWLETTER AND PROMOTION</p>
                    <div class="block-button-subscribe">
                        <input class="input-footer" type="email" placeholder="Enter Your Email">
                        <div class="bb">
                            <a class="but-sub" href="#">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-copyright">

        <div>
            <p class="copyright"> © 2021 Brand All Rights Reserved.</p>
            <img src="img/" alt=""> <a class="Button-ONLINE-SERVICE" href="https://gb.ru/" target="_blank"></a>
        </div>
        <div class="href-fot">
            <a class="icon-fot" href="https://www.facebook.com/"> <img src="./style/img/href/facebook.png" alt="facebook">
            </a>
            <a class="icon-fot" href="https://www.instagram.com/"> <img src="./style/img/href/instagram.png"
                    alt="instagram"> </a>
            <a class="icon-fot" href="https://www.pinterest.ru/"> <img src="./style/img/href/pinterest.png" alt="pinterest">
            </a>
            <a class="icon-fot" href="https://twitter.com/"> <img src="./style/img/href/twitter .png" alt="twitter"> </a>
        </div>
    </div>
</div>

</div>
   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="JavaScript/ProductDTO.js"></script>
<script src="JavaScript/app.js"></script> 
</body>

</html>