<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/css/style.css">
</head>

<body>
    <div id="app">

<header class="head">
    <div class="head-flex container">
        <div class="head-left">
            <a href="index.html"> <img src="style/img/logo.png" alt="logo"></a>

            <form action="#" class="search-form" @submit.prevent="filter">
                <input type="text" v-model="userSearch">
                <button type="submit">найти</button>
            </form>
        </div>

        <div class="head-right">
            <a class="IconWrap menu-activ" href="javascript:void(0);" tabindex="1"> <img src="style/img/iconmenu.png"
                    alt="меню">
            </a>
            <div class="box">
                <h2 class="menu-name">MENU</h2>
                <div class="item-menu">
                    <h3 class="item-categories"> MAN </h3>
                    <a class="item-link" href="katalog.html">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> WOMAN </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> KIDS </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>
            </div>

            <a class="IconWrap" href="cabinet.html"> <img src="style/img/icon.png" alt="Personal Area"></a>

            <span class="IconWrap cartIcon">
                <a class="" href="cart.html"> <img src="style/img/icon2.png" alt="basket"></a>
                <span @click="isNone=!isNone"> {{countGoods}}</span>
            </span>

            <div class="basket" :class="{ hidden: isNone, show:!isNone}">
                <div class="basketRow basketHeader">
                    <div>Фото товара</div>
                    <div>Название товара</div>
                    <div>Количество</div>
                    <div>Цена за шт.</div>
                    <div>Итого</div>
                </div>

                <div class="basketRow" v-for="Item_header of cartItems" :key="Item_header.id">
                    <div> <img class="Item_header_pictures" :src=Item_header.foto alt="Some image"> </div>
                    <div>
                        <p>{{Item_header.title}}</p>
                    </div>
                    <div> <span class="productCount">{{Item_header.quantity}}</span> шт. </div>
                    <div>${{Item_header.price}}</div>
                    <div>
                        $<span class="productTotalRow">{{Item_header.quantity * Item_header.price}}</span>
                    </div>
                </div>


                <div class="basketTotal">
                    Товаров в корзине на сумму:
                    $<span class="basketTotalValue">{{carttotal}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
    <div class="container title-page">
        <p class="p-title-page">NEW ARRIVALS</p>
        <div>
            <a class="but-title-page" href="index.html">HOME </a> /
            <a class="but-title-page" href="#"> MEN </a> /
            <a class="but-title-page" href="product.html"> NEW ARRIVALS </a>
        </div>
    </div>


    <div class=" container menu-2">
        <div class="filter">
            <a class="button-filter" href=""> FILTER <img src="img/filter.png" alt=""> </a>
        </div>

        <UL class="box-filter">

            <LI class="element-box-filter">
                <a class="category" href="javascript:void(0);" tabindex="1">CATEGORY </a>
                <div class="category-item">
                    <div class="item-menu">
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                    </div>
                </div>
            </LI>

            <LI class="element-box-filter">
                <a class="category" href="javascript:void(0);" tabindex="1">CATEGORY </a>
                <div class="category-item">
                    <div class="item-menu">
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                    </div>
                </div>
            </LI>

            <LI class="element-box-filter">
                <a class="category" href="javascript:void(0);" tabindex="1">CATEGORY </a>
                <div class="category-item">
                    <div class="item-menu">
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                    </div>
                </div>
            </LI>
        </UL>





        <UL class="menu-choise">
            <LI>
                <a class="but-menu2" href="javascript:void(0);" tabindex="1"> TRENDING NOW <img
                        src="img/katalog/Vector.png" alt=""> </a>
                <div class="BoxinMenu2">
                    <div class="item-menu">
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                    </div>
                </div>
            </LI>
            <LI>
                <a class="but-menu2" href="javascript:void(0);" tabindex="1"> SIZE <img src="img/katalog/Vector.png"
                        alt=""></a>
                <div class="BoxinMenu2">
                    <div class="item-menu">
                        <a class="item-link" href="#">XS</a>
                        <a class="item-link" href="#">S</a>
                        <a class="item-link" href="#">M</a>
                        <a class="item-link" href="#">L</a>
                    </div>
                </div>
            </LI>
            <LI>
                <a class="but-menu2" href="javascript:void(0);" tabindex="1"> PRICE <img src="img/katalog/Vector.png"
                        alt=""> </a>
                <div class="BoxinMenu2">
                    <div class="item-menu">
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                        <a class="item-link" href="#">item</a>
                    </div>
                </div>
            </LI>
        </UL>


    </div>

    <div class="katalog container">

 
    <div class="card-products" v-for="product of products" :key="product.id">
        <div class="card">
            <div>
                <a class="card-link" href="product.html">
                    <img class="card-img" :src=product.foto alt="товар">
                </a>
            </div>
            <div class="add-to-cart">
                <a class="ButToCard" @click="addProduct(product)" href="cart.html"> <img src="img/icon2.png" alt="add-to-cart"> &nbsp Add to
                    Cart</a>
            </div>
        </div>
        <div class="card-text">
            <h1 class="h1-products">{{product.title}}</h1>
            <p class="p-cci">{{product.text}}</p>
            <br>
            <p class="price"> $ {{product.price}} </p>
        </div>
    </div>


        <!-- <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="../style/img/katalog/1.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="img/card5.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="img/card5.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="img/card5.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="img/card5.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="img/card5.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <div>
                    <a class="card-link" href="product.html">
                        <img class="card-img" src="img/card5.png" alt="товар">
                    </a>
                </div>
                <div class="add-to-cart">
                    <a class="ButToCard" href="cart.html"> <img src="img/icon2.png" alt="cart"> &nbsp Add to
                        Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div>

        <div class="card-products">
            <div class="card">
                <a class="card-link" href="#">
                    <img class="card-img" src="img/card5.png" alt="товар">
                </a>
                <div class="add-to-cart">
                    <a class="ButToCard" href="#"> <img src="img/icon2.png" alt="cart"> &nbsp Add to Cart</a>
                </div>
            </div>
            <div class="card-text">
                <h1 class="h1-products">ELLERY X M'O CAPSULE</h1>
                <p class="p-cci">Known for her sculptural takes on&nbsp;
                    traditional tailoring, Australian arbiter of&nbsp;cool
                    Kym Ellery teams up&nbsp;with Moda Operandi.</p>
                <br>
                <p class="price"> $52.00</p>
            </div>
        </div> -->

    </div>


    <div class="gg">
        <div class="leaf">
            <a href=""> <img src="img/Vector.png" alt=""></a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""> <img src="img/Vector (1).png" alt=""></a>
        </div>
    </div>

<div class="footer">
    <div class="container footer-head">

        <div class="service-1">
            <img src="./style/img/footer1.png" alt="picture">
            <h4 class="h4-footer-head">Free Delivery</h4>
            <p class="p-footer">Worldwide delivery on&nbsp;all. Authorit tively morph <nobr> <br>
                    next-generation</nobr> innov tion with extensive models.</p>
        </div>

        <div class="service-1">
            <img src="./style/img/footer3.png" alt="picture">
            <h4 class="h4-footer-head">Sales & discounts</h4>
            <p class="p-footer">Worldwide delivery on&nbsp;all. Authorit tively morph <nobr> <br>
                    next-generation</nobr> innov tion with extensive models.</p>
        </div>

        <div class="service-1">
            <img src="./style/img/footer2.png" alt="picture">
            <h4 class="h4-footer-head">Quality assurance</h4>
            <p class="p-footer">Worldwide delivery on&nbsp;all. Authorit tively morph <nobr> <br>
                    next-generation</nobr> innov tion with extensive models.</p>
        </div>

    </div>
    <div class="footer-content">
        <div class="footer-content2">
            <div class="container footer-content3">
                <div class="persona">
                    <img src="./style/img/Intersect.png" alt="">
                    <p class="p-persona">&laquo;Vestibulum quis porttitor dui! Quisque <br>
                        viverra nunc mi, a&nbsp;pulvinar purus <br>
                        condimentum&raquo;</p>
                </div>

                <div class="subscribe">
                    <h4 class="h4-sub">SUBSCRIBE</h4>
                    <p class="p-sub"> FOR OUR NEWLETTER AND PROMOTION</p>
                    <div class="block-button-subscribe">
                        <input class="input-footer" type="email" placeholder="Enter Your Email">
                        <div class="bb">
                            <a class="but-sub" href="#">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer-copyright">

        <div>
            <p class="copyright"> © 2021 Brand All Rights Reserved.</p>
            <img src="img/" alt=""> <a class="Button-ONLINE-SERVICE" href="https://gb.ru/" target="_blank"></a>
        </div>
        <div class="href-fot">
            <a class="icon-fot" href="https://www.facebook.com/"> <img src="./style/img/href/facebook.png" alt="facebook">
            </a>
            <a class="icon-fot" href="https://www.instagram.com/"> <img src="./style/img/href/instagram.png"
                    alt="instagram"> </a>
            <a class="icon-fot" href="https://www.pinterest.ru/"> <img src="./style/img/href/pinterest.png" alt="pinterest">
            </a>
            <a class="icon-fot" href="https://twitter.com/"> <img src="./style/img/href/twitter .png" alt="twitter"> </a>
        </div>
    </div>
</div>

</div>
</body>

</html>