@charset "UTF-8";
@import url(style/Heder.css);
@import url(style/Footer.css);
@import url(style/katalog.css);
@import url(style/product.css);
@import url(style/MainPage.css);
@import url(style/cart.css);
@import url(style/cabinet.css);
* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  padding-left: 230px;
  padding-right: 230px;
  margin: auto;
}

/*  ГЛАВНАЯ СТРАНИЦА*/
.title {
  background-image: url(img/banner.png);
}

.items {
  background-image: url(img/card1.jpg);
}

.items2 {
  background-image: url(img/card2.jpg);
}

.items3 {
  background-image: url(img/card3.jpg);
}

.items4 {
  background-image: url(img/card4.jpg);
}

/*  товар */
.footer-content {
  background-image: url(img/footer.jpg);
}

.registration-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*  корзина */
.img {
  background-image: url(img/katalog/Image.png);
}

.div-rt-text {
  list-style-image: url(img/jackdaw.jpg);
}

@media (max-width: 768px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 668px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .title {
    background: none;
  }
}