<header class="head">
    <div class="head-flex container">
        <div class="head-left">
            <a href="index.html"> <img src="style/img/logo.png" alt="logo"></a>

            <form action="#" class="search-form" @submit.prevent="filter">
                <input type="text" v-model="userSearch">
                <button type="submit">найти</button>
            </form>
        </div>

        <div class="head-right">
            <a class="IconWrap menu-activ" href="javascript:void(0);" tabindex="1"> <img src="style/img/iconmenu.png"
                    alt="меню">
            </a>
            <div class="box">
                <h2 class="menu-name">MENU</h2>
                <div class="item-menu">
                    <h3 class="item-categories"> MAN </h3>
                    <a class="item-link" href="katalog.html">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> WOMAN </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> KIDS </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>
            </div>

            <a class="IconWrap" href="cabinet.html"> <img src="style/img/icon.png" alt="Personal Area"></a>

            <span class="IconWrap cartIcon">
                <a class="" href="cart.html"> <img src="style/img/icon2.png" alt="basket"></a>
                <span @click="isNone=!isNone"> {{countGoods}}</span>
            </span>

            <div class="basket" :class="{ hidden: isNone, show:!isNone}">
                <div class="basketRow basketHeader">
                    <div>Фото товара</div>
                    <div>Название товара</div>
                    <div>Количество</div>
                    <div>Цена за шт.</div>
                    <div>Итого</div>
                </div>

                <div class="basketRow" v-for="Item_header of cartItems" :key="Item_header.id">
                    <div> <img class="Item_header_pictures" :src=Item_header.foto alt="Some image"> </div>
                    <div>
                        <p>{{Item_header.title}}</p>
                    </div>
                    <div> <span class="productCount">{{Item_header.quantity}}</span> шт. </div>
                    <div>${{Item_header.price}}</div>
                    <div>
                        $<span class="productTotalRow">{{Item_header.quantity * Item_header.price}}</span>
                    </div>
                </div>


                <div class="basketTotal">
                    Товаров в корзине на сумму:
                    $<span class="basketTotalValue">{{carttotal}}</span>
                </div>
            </div>
        </div>
    </div>
</header>