<header class="head">
    <div class="head-flex container">
        <div class="head-left">
            <a href="index.html"> <img src="style/img/logo.png" alt="logo"></a>
        
            <form v-on:submit.prevent="addNewTodo">
                <label for="new-todo">Добавить задачу</label>
                <input v-model="newTodoText" id="new-todo">
                <button>Добавить</button>
              </form>
        
        </div>

        <div class="head-right">
            <a class="menu-activ" href="javascript:void(0);" tabindex="1"> <img src="style/img/iconmenu.png" alt="меню">
            </a>
            <div class="box">
                <h2 class="menu-name">MENU</h2>
                <div class="item-menu">
                    <h3 class="item-categories"> MAN </h3>
                    <a class="item-link" href="katalog.html">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> WOMAN </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>

                <div class="item-menu">
                    <h3 class="item-categories"> KIDS </h3>
                    <a class="item-link" href="#">Accessories</a>
                    <a class="item-link" href="#">Bags</a>
                    <a class="item-link" href="#">Denim</a>
                    <a class="item-link" href="#">T-Shirts</a>
                </div>
            </div>

            <a class="cabinet" href="cabinet.html"> <img src="style/img/icon.png" alt="Personal Area"></a>
            
            <span class="IconWrap cartIcon">
                <a class="basket" href="cart.html"> <img src="style/img/icon2.png" alt="basket"></a>
                <span>0</span>
            </span>

            <div class="basket hidden">
                <div class="basketRow basketHeader">
                    <div>Фото товара</div>
                    <div>Название товара</div>
                    <div>Количество</div>
                    <div>Цена за шт.</div>
                    <div>Итого</div>
                </div>

                <div class="basketRow"  v-for="Item_header of cartItems_header" :key="Item_header.id">
                    <div>  <img class="cart_pictures"  :src=Item_header.foto alt="Some image">  </div>
                    <div><h3>{{Item.title}}</h3></div>
                    <div> <span class="productCount">{{Item.quantity}}</span> шт. </div>
                    <div>${{Item.price}}</div>
                    <div>
                        $<span class="productTotalRow">0</span>
                    </div>
                </div>  

                <div class="basketTotal">
                    Товаров в корзине на сумму:
                    $<span class="basketTotalValue">0</span>
                </div>
            </div>
        </div>
    </div>
</header>
