.body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*  меню  */

.head {
    height: 75px;
    background: #222222;
}

.head-flex {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-right {
    height: 75px;
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
}

.box {
    top: 75px;
    right: -235px;
    position: absolute;
    z-index: 3;
    display: none;
    flex-direction: column;
    background: #ffffff;
    height: 764px;
    width: 232px;
}

.menu-activ:active~.box,
.menu-activ:focus~.box,
.box:hover {
    display: flex;
}

.menu-name {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 55px;
    margin-left: 35px;
}

.item-menu {
    padding-bottom: 20px;
}

.item-categories {
    font-size: 14px;
    line-height: 17px;
    padding-left: 33px;
    padding-bottom: 12px;
    color: #f16d7f;
}

.item-link {
    padding: 10px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #6f6e6e;
    padding-left: 55px;
}

.item-link:hover {
    color: #f16d7f;
}

.basket_box {
    background-color: white;
    position: absolute;
    top: 75px;
    right: 0;
}

.cart-item {
    display: flex;
}

.IconWrap {
    margin-left: 33px;
}

.Item_header_pictures {
    width: 80px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}