$color-pink: #f16d7f;

/*  ГЛАВНАЯ СТРАНИЦА*/
.banner {
    width: 100%;
    background: #f1e4e6;
}


.element-title {
    float: left;
    clear: both;
    width: 12px;
    height: 92px;
    background: $color-pink;
    top: 290px;
    margin-left: 635px;
    margin-right: 16px;
    margin-top: 290px;
}

.title {
    overflow: hidden;
    height: 764px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: left;
}

.name {
    height: 92px;
    width: 700px;
}

.h-title {
    margin-left: 32px;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.p-title {
    margin-left: 32px;
    font-weight: 700;
    font-size: 32px;
}

.but-title {
    font-size: 37px;
    text-decoration: none;
    color: $color-pink;
}

.content {
    width: 100%;
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 260px;
}

.items4 {
    margin-top: 30px;
    background-image: url(../img/card4.jpg);
    width: 100%;
    height: 180px;
}

.text-card {
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
}

.but-card {
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: $color-pink;
}

.products {
    margin-top: 96px;
}

.h2-products {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
}

.p-products {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
}

.katalog {
    margin-top: 48px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-products {
    width: 360px;
    clear: both;
}

.card-text:hover {
    box-shadow: 0 0 #222222;
}

.card {
    margin-top: 30px;
    width: 360px;
    display: flex;
    flex-direction: column;
}

.card-link {
    text-decoration: none;
    height: 420px;
    width: 360px;
}

.card-img {
    width: 100%;
    height: 100%;
}

.card:hover .card-img {
    filter: brightness(50%);
}

.add-to-cart {
    margin-top: 140px;
    position: absolute;
    width: 360px;
    line-height: 58px;
    display: none;
}

.ButToCard:hover {
    box-shadow: 0 0 10px #fff;
}

.card:hover .add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButToCard {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    padding: 13px;
    border: 1px solid #ffffff;
}

.card-text {
    padding-top: 25px;
    background: #f8f8f8;
}

.h1-products {
    font-size: 13px;
    line-height: 16px;
}

.p-cci {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.price {
    font-size: 16px;
    line-height: 19px;
    color: $color-pink;
}

.gg {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.but-product {
    text-decoration: none;
    border: 1px solid #ff6a6a;
    padding: 14px 38px;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
}

.but-product:hover {
    background: $color-pink;
    color: #ffffff;
}
