@charset "UTF-8";
.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*  меню  */
.head {
  height: 75px;
  background: #222222;
}

.head-flex {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-right {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.box {
  top: 75px;
  right: -235px;
  position: absolute;
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  height: 764px;
  width: 232px;
}

.head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head-left .search-form {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.head-left .btn-search {
  background: none;
  border: none;
}
.head-left .search-field {
  background: #222222;
  color: white;
  border: none;
}

.menu-activ:active ~ .box,
.menu-activ:focus ~ .box,
.box:hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-name {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 55px;
  margin-left: 35px;
}

.item-menu {
  padding-bottom: 20px;
}

.item-categories {
  font-size: 14px;
  line-height: 17px;
  padding-left: 33px;
  padding-bottom: 12px;
  color: #f16d7f;
}

.item-link {
  padding: 10px;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-left: 55px;
}

.item-link:hover {
  color: #f16d7f;
}

.basket_box {
  background-color: white;
  position: absolute;
  top: 75px;
  right: 0;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.IconWrap {
  margin-left: 33px;
}

.Item_header_pictures {
  width: 80px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}