@import url(Heder.css);
@import url(Footer.css);
@import url(katalog.css);
@import url(product.css);
@import url(MainPage.css);
@import url(cart.css);
@import url(cabinet.css);

* {
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1140px;
    padding-left: 230px;
    padding-right: 230px;
    margin: auto;
}

/*  ГЛАВНАЯ СТРАНИЦА*/
.title {
    background-image: url(../img/banner.png);
}

.items {
    background-image: url(../img/card1.jpg);
}

.items2 {
    background-image: url(../img/card2.jpg);
}

.items3 {
    background-image: url(../img/card3.jpg);
}
.items4 {
    background-image: url(../img/card4.jpg);
}

/*  товар */

.footer-content {
    background-image: url(../img/footer.jpg);
}

.registration-flex {
    display: flex;
}

/*  корзина */
.img {
    background-image: url(../img/katalog/Image.png);
}

.div-rt-text {
    list-style-image: url(../img/jackdaw.jpg);
}

@media (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 668px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    .title {
        background: none;
    }
}
